@import "../../assets/scss/setup/variables";
@import "../../assets/scss/setup/functions";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap");

.main-navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: $clr1;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
        text-decoration: none;
        cursor: pointer;
    }
    i {
        color: $clr6;
    }
    .pages {
        font-size: 1.1rem;
        color: $clr5;
        letter-spacing: 2px;
        font-weight: lighter;
        :not(:last-child) {
            margin-right: 2.4rem;
        }
    }
}
.logoimg {
    width: 80px;
}
.searchInput {
    padding-right: 125px;
}
.logo {
    padding-left: 100px
}
@media screen and (max-width: 768px) {
    .searchInput {
        padding-right: 0;
    }
    .logo {
        padding-left: 10px
    }
}
